{% extends 'main/base.html' %}
{% load my_tags %}
{% block content %}
    <div class="container">
        <div class="row g-0 body-secondary position-relative">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            Материал {{ object.title }} | {{ object.slug }}
                        </h3>
                    </div>
                    <div class="card-body">
                        <p>
                            {{ object.body }}
                        </p>
                    </div>
                    <div class="card-footer">
                        Просмотры: {{ object.views_count }}
                    </div>
                </div>
            </div>

            <div class="button" role="group" aria-label="Basic example">
                {% if perm.materials.change_material %}
                    <a href="{% url 'materials:edit' object.pk %}" type="button"
                       class="btn btn-success">Редактировать</a>
                {% endif %}
                {% if user.is_superuser %}
                    <a href="{% url 'materials:delete' object.pk %}" type="button" class="btn btn-danger">Удалить</a>
                {% endif %}
                <a href="{% url 'materials:list' %}" type="button" class="btn btn-primary">Назад</a>
            </div>
        </div>
    </div>
{% endblock %}